# requirements.txt
botbuilder-core
botbuilder-schema
botbuilder-integration-aiohttp
aiohttp
python-dotenv
requests
pyodbc

cryptography
pip
attrs
cffi
setuptools
msal
idna
multidict
propcache
asyncio
typing_extensions
urllib3
oauthlib
isodate
requests-oauthlib
yarl
async-timeout
aiosignal
frozenlist
aiohappyeyeballs
certifi
chardet
pycparser
msrest
jsonpickle
PyJWT
pydantic-settings